RENDERING_MODE = clustered
RENDERING_CLUSTERING_MODE = browser
RENDERING_CLUSTERING_MAX_CONCURRENCY = 5
RENDERING_CLUSTERING_TIMEOUT = 30
RENDERING_ARGS=--no-sandbox,--disable-setuid-sandbox,--disable-dev-shm-usage,--disable-accelerated-2d-canvas,--disable-gpu,--window-size=1280x758
BROWSER_TZ = Europe/Moscow
